@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montseratte/montserrat-bold-webfont.eot');
    src: url('../fonts/montseratte/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montseratte/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montseratte/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montseratte/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montseratte/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montseratte/montserrat-regular-webfont.eot');
    src: url('../fonts/montseratte/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montseratte/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montseratte/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montseratte/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montseratte/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratblack';
    src: url('montserrat-black-webfont.eot');
    src: url('../fonts/montseratte/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montseratte/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montseratte/montserrat-black-webfont.woff') format('woff'),
         url('../fonts/montseratte/montserrat-black-webfont.ttf') format('truetype'),
         url('../fonts/montseratte/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
    padding:0px;
    margin: 0px;
}

body
{
    background-color: #414141;
}
a
{
    text-decoration: none;
    color:black;
    
}

.container
{
    
    margin: 300px 50px;
    width: 2110px;
    background-image: url('../image/Group1.png');
    background-repeat: no-repeat;
    background-size:cover;
    
    display: flex;
    
    
}


.left_element
{
    display: inherit;
    max-width:125px;
    background-color:#fff;
    flex-direction: column;
    -webkit-box-shadow: 20px 0 10px 0 rgba(0,0,0,0.5);
box-shadow: 20px 0 10px 0 rgba(0,0,0,0.5);
}

.text_vertical
{
    margin:auto;
    padding: 389px 55px 315px 55px;
    
}

.case
{
margin: auto;
padding-bottom: 41px;

}
.case a img
{
    max-width: 100%;
}
.left_element p
{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'montserratbold';
   
}

.left_element span
{
    font-size: 20px;
    font-family: 'montserratregular';
    color:#b3b3b3;
}

.right_element header
{
    width: 1760px;
    flex-basis:  1760px;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  
  flex-wrap:wrap;

    padding: 100px 110px;
    
  
  

}


.right_element header .menu nav ul li
{
    padding:15px 20px;
    list-style: none;
    display: inline-block;
    margin-left: 55px;
    font-size: 17px;   
    font-family: 'montserratregular';
}
.right_element header .menu nav ul li:first-of-type
{
    margin-left: none;
    
}
.right_element .logo
{
    font-size: 30px;
    text-transform: lowercase;
    font-family: 'montserratblack';
}

.right_element header .menu nav ul li a
{
    padding:15px 20px;
}

.right_element header .menu nav ul li:hover a
{
    
    
    background-color:black;
    border-radius: 50px;
    color:white;

   
    
}
footer
{
   position: relative;
    top: 750px;
   text-align: center;
   
}

footer form button
{
    color: white;
    font-family: 'montserratregular';
    padding: 23px 65px;
    background-color:black;
    border-radius: 50px;
    text-transform: uppercase;
    border:none;
    -webkit-box-shadow: 0 20px 10px 0 rgba(0,0,0,0.5);
box-shadow: 0 20px 10px 0 rgba(0,0,0,0.5);
font-size:15px;
}

@media screen and (max-width:2110px)
{
    .container
    {
        width:1500px;
        background-position: center;

    }
    .right_element header
    {
        width: 1000px;
    }
}

@media screen and (max-width:1300px)
{
    .container
    {
        margin: 0px 0px;
        width:1400px;

    }
    .right_element header
    {
      
    }
}

@media screen and (max-width:850px)
{
    .right_element header
    {
      display: block;
    }
    .right_element header .menu nav ul li
    {
        display: block;
        font-size: 30px;
        
        
    }
    a
    {
        color:white;
    }

    footer
    {
        top: 550px;
    }
}

@media screen and (max-width:550px)
{
  

    .left_element p, .left_element span
    {
        font-size: 32px;
    }
    
 .left_element img 
 {
     width: 75px;
 }

    footer form button
    {
        font-size: 30px;
           
    }

    .right_element header .menu nav ul li
    {
        display: block;
        font-size: 40px;
        
        
    }
    .right_element header .logo
    {
        font-size: 50px;
    }

    body
    {
        background-color: #bdac11ea;
    }
}